body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

.header {
  border-bottom: solid 2px black;
}



/* Home page Styles */

a {
  color: #000;
}


.dishes img {
  height: 80%;
  width: 100%;
}

.main_link {
  display: block;
}

.main_link:hover {
  background-color: lightgrey;
}

.dish {
  padding: 10px 20px;
  margin: 5px;
  border: solid 2px black;
  background-color: white;
}

.dish h3 {
  text-align: center;
}

img {
    width: 100%;
    display: block;
}

.overlay {
  position:absolute;
  top: 400px;
  left: 150px;
  color: white;
  font-size: 72px;
  font-family: cursive;
}

.shop {
  position:absolute;
  top: 600px;
  left: 270px;
  background-color: white;
  padding: 15px 32px;
  font-family: cursive;
  border-radius: 15px;
  font-size: 24px;
  
}

.store {
  font-family: Lucida Handwriting;
  font-size: 72px;
}


.special {
  text-align: center;
  background-color: white;
  color: #000;
  padding: 20px;
  margin: 50px 20px;
  opacity: .9;
}

.special {
  margin: 50px 20px;
  font-family: Lucida Handwriting;
  
}

h1 {
    font-family: Lucida Handwriting;
}

h2, h3 {
  margin: 50px 0px;
  
}




/* Featured products page styles */


.flavor {
  padding: 10px;
  display:block;
  text-align: center;
  background-color: white;
  color: #000;
  margin: 20px;
  border: solid 5px lightgrey;
  border-radius: 5px;
}




/* Full shop page styles */

.bg-image {
  /* The image used */
  background-image: url(images/banner.jpeg);

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





/*Contact page styles */

.contact {
  display:block;
  text-align: center;
  background-color: white;
  color: #000;
  padding: 60px;
  margin: 20px;
  border: solid 5px lightgrey;
  border-radius: 5px;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: pink;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: auto;
  border: solid 5px lightgrey;
}

.wrap {
  background-image: url(images/banner.jpeg); 
}




/* 48em = 768px - Desktop Styles */
@media (min-width: 48em) {

    .photo img {
      object-fit: cover;
    }
    
    
    .dishes {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
        
    }
  
  .dishes img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    
    /* Style inputs with type="text", select elements and textareas */
  input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: pink;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .feature {
    width: 100%;
  }
}

